body {
  background-color: black;
  color:white;
  margin: 0;
  display: flex;
  place-items: center;
  text-align: center;;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  font-family: monospace;
}